.DS_Store
node_modules
/dist
/dist_utools
!public*/node_modules
/test

public/node_modules
public/preload.js
public/plugin.js
public/squirrel

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
